<script>
  const numberOfGames = 127;
  const numberOfTeams = 64;
  const numberOfTables = 10;
  const gameDurationInMinutes = 15;
  const gameFinalsDurationInMinutes = 30;
  const tournamentStart = 12;

  const timeblocks = [
    { round: 1, time: "13:00", gameNumbers: "1–10" },
    { round: 2, time: "13:20", gameNumbers: "11–20" },
    { round: 3, time: "13:40", gameNumbers: "21–30" },
    { round: 4, time: "14:00", gameNumbers: "31–40" },
    { round: 5, time: "14:20", gameNumbers: "41–50" },
    { round: 6, time: "14:40", gameNumbers: "51–60" },
    { round: 7, time: "15:40", gameNumbers: "61–70" },
    { round: 8, time: "16:00", gameNumbers: "71–80" },
    { round: 9, time: "16:20", gameNumbers: "81–90" },
    { round: 10, time: "16:40", gameNumbers: "91–98" },
    { round: 11, time: "17:00", gameNumbers: "99–105 + 109–111" },
    { round: 12, time: "17:20", gameNumbers: "106–108 + 112 + 119" },
    { round: 13, time: "18:40", gameNumbers: "113–116 + 120" },
    { round: 14, time: "19:10", gameNumbers: "117–118" },
    { round: 15, time: "19:40", gameNumbers: "121–122" },
    { round: 16, time: "20:10", gameNumbers: "123–124" },
    { round: 17, time: "20:40", gameNumbers: "125" },
    { round: 18, time: "21:10", gameNumbers: "126" },
  ]

  function htmlForMatchRound(timeblock) {
    const hours = parseInt(timeblock.time.split(":")[0])
    // const minutes = parseInt(timeblock.time.split(":")[1])
    // const timeblockClass = " timeblock--time";
    const highlightClass = " timeblock__main--highlight";
    const currentHour = new Date().getHours();
    const currentDay = new Date().getDay() + 1;
    const isHighlighted = currentDay == 14 && hours == currentHour;


    return `
      <div class="timeblock">
        <div class="timeblock__header">
          <span class="timeblock__time">${timeblock.time}</span >
          <hr class="timeblock__hr">
        </div>
        <div class="timeblock__main${isHighlighted ? highlightClass : ""}">
          <span class="timeblock__round">${timeblock.round}</span>
          <span class="timeblock__game-numbers">Games: ${timeblock.gameNumbers}</span>
        </div>
      </div >
    `
  }

  function htmlForAgenda() {
    return timeblocks.reduce((acc, timeblock) => `${acc} ${htmlForMatchRound(timeblock)}`, "")
  }

  document.addEventListener("DOMContentLoaded", () => {
    console.log("DOM ready")
    const $agenda = document.querySelector(".agenda");
    $agenda.innerHTML = htmlForAgenda();
  })
</script>

<div class="agenda">
</div>
