{{ with .Get "url" }}
{{ $url := . }}
{{ $data := getJSON $url }}
<h3 class="title">Bracket A</h3>
<p>
  Everybody starts in this starting/winner bracket.
</p>
<main class="bracket" id="tournament-bracket-a">
  {{range $index, $round := $data.bracketA}}
  <ul class="round round-{{ add $index 1 }}">
    <li class="spacer">&nbsp;</li>

    {{ range $game := $round }}
    <li class="game game-top{{ if gt $game.pointsA $game.pointsB }} winner{{ end }}">{{ index (sort $game.teamA) 0 }}
      og {{ index (sort $game.teamA) 1 }}
      <span>{{ $game.pointsA }}</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom{{ if gt $game.pointsB $game.pointsA }} winner{{ end }}">
      {{ index (sort $game.teamB) 0 }} og {{ index (sort $game.teamB) 1 }}
      <span>{{ $game.pointsB }}</span></li>

    <li class="spacer">&nbsp;</li>
    {{ end }}
  </ul>
  {{ end }}
</main>
<hr>
<h3 class="title">Bracket B</h3>
<p>The secondary/losers bracket, everyone lands in this after losing one game.</p>
<main class="bracket" id="tournament-bracket-b">
  {{range $index, $round := $data.bracketB}}
  <ul class="round round-{{ add $index 1 }}">
    <li class="spacer">&nbsp;</li>

    {{ range $game := $round }}
    <li class="game game-top{{ if gt $game.pointsA $game.pointsB }} winner{{ end }}">{{ index (sort $game.teamA) 0 }}
      og {{ index (sort $game.teamA) 1 }}
      <span>{{ $game.pointsA }}</span></li>
    <li class="game game-spacer">&nbsp;</li>
    <li class="game game-bottom{{ if gt $game.pointsB $game.pointsA }} winner{{ end }}">
      {{ index (sort $game.teamB) 0 }} og {{ index (sort $game.teamB) 1 }}
      <span>{{ $game.pointsB }}</span></li>

    <li class="spacer">&nbsp;</li>
    {{ end }}
  </ul>
  {{ end }}
</main>
<hr>
<h3 class="title">Final</h3>
<p>The final is being played in a best of three. The first to win two games, wins the tournament.</p>
<table class="table final">
  <thead>
    <tr>
      <th>Championship</th>
      <th class="is-centered">1</th>
      <th class="is-centered">2</th>
      <th class="is-centered">3</th>
      <th class="is-centered">T</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="is-large-font is-strong">{{ $data.final.teamNameA }}</span><br>Namea1 og Namea2</td>
      <td
        class="is-centered is-fix-width{{ if gt $data.final.game1.pointsA $data.final.game1.pointsB }} is-strong{{ end }}">
        {{ $data.final.game1.pointsA }}</td>
      <td
        class="is-centered is-fix-width{{ if gt $data.final.game2.pointsA $data.final.game2.pointsB }} is-strong{{ end }}">
        {{ $data.final.game2.pointsA }}</td>
      <td
        class="is-centered is-fix-width{{ if gt $data.final.game3.pointsA $data.final.game3.pointsB }} is-strong{{ end }}">
        {{ $data.final.game3.pointsA }}</td>
      <td class="is-centered is-fix-width is-extra-large-font is-strong">{{ $data.final.teamAWins }}</td>
    </tr>
    <tr>
      <td><span class="is-large-font is-strong">{{ $data.final.teamNameB }}</span><br>Nameg1 og Nameg2</td>
      <td
        class="is-centered is-fix-width{{ if gt $data.final.game1.pointsB $data.final.game1.pointsA }} is-strong{{ end }}">
        {{ $data.final.game1.pointsB }}</td>
      <td
        class="is-centered is-fix-width{{ if gt $data.final.game2.pointsB $data.final.game2.pointsA }} is-strong{{ end }}">
        {{ $data.final.game2.pointsB }}</td>
      <td
        class="is-centered is-fix-width{{ if gt $data.final.game3.pointsB $data.final.game3.pointsA }} is-strong{{ end }}">
        {{ $data.final.game3.pointsB }}</td>
      <td class="is-centered is-fix-width is-extra-large-font is-strong">{{ $data.final.teamBWins }}</td>
    </tr>
  </tbody>
</table>
{{ end }}
