<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-128x128">
        <img loading=lazy src="{{.Site.BaseURL}}{{ .Params.imageURL }}" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <div class="">
          <h3 style="display: inline-block;">{{ .Params.name }}</h3>
          <small>@{{ .Params.nickname }}</small>
        </div>
        <p>
          {{ .Params.description }}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
