<div class="section-text">
  <h3 class="section-text__title">Tietgen Dye Tournament 2021</h3>
  <section class="section-text__body">
    <article class="section-text__article">
      <p>
        On the 14th of August we are bringing out the Tietgen Dye tables for a day full of games. We will have a double
        elimination tournament for everyone who wants to participate. Find a team partner, a team name, and head over to
        our signup form to secure your spot.
      </p>
      <p>
        We had a tournament last year with 32 teams and one glorious winner team. To check out everything around that
        tournament head over to its tournament page at <a href="/tournament/2020/">/tournament/2020/</a>
      </p>
    </article>
    <aside class="section-text__aside">
      <table>
        <tr>
          <td class="table__definition table__definition--bold">Date</td>
          <td class="table__definition">14/08/21</td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">Start time</td>
          <td class="table__definition">11 AM</td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">Participants</td>
          <td class="table__definition">64 teams</td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">Location</td>
          <td class="table__definition">Tietgenkollegiet</td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">Signup price</td>
          <td class="table__definition">60 kr. per team</td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">Signup form</td>
          <td class="table__definition"><a href="https://dyeislife.dk/tournament/2021/signup/">click here</a></td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">More info</td>
          <td class="table__definition"><a href="https://dyeislife.dk/tournament/2021/">click here</a></td>
        </tr>
      </table>
    </aside>
    <a class="section-text__link" href="tournament/">go to Tournament</a>
  </section>
</div>
