<div class="section-text">
  <h3 class="section-text__title">Tietgen Dye Turnering 2022</h3>
  <section class="section-text__body">
    <article class="section-text__article">
      <p>
        Den 10. september bringer vi Tietgen Dye bordene frem for en dag fuld af Dye. Vi får en “double elimination”
        turnering for alle, der ønsker at deltage. Find en teampartner, et teamnavn, og tag til vores
        tilmeldingsformular for at sikre din plads.
      </p>
      <p>
        Vi havde en turnering sidste år med 64 hold og et herligt vinderhold. For at tjekke alt omkring det turnering gå
        videre til sin turneringsside a <a href="/tournament/2021/">/tournament/2021/</a>
      </p>
    </article>
    <aside class="section-text__aside">
      <table>
        <tr>
          <td class="table__definition table__definition--bold">Dato</td>
          <td class="table__definition">10/09/22</td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">Starttidspunkt</td>
          <td class="table__definition">12 AM</td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">Deltagere</td>
          <td class="table__definition">64 hold</td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">Beliggenhed</td>
          <td class="table__definition">Tietgenkollegiet</td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">Mere info</td>
          <td class="table__definition"><a href="https://dyeislife.dk/tournament/2022/">Klik her</a></td>
        </tr>
      </table>
    </aside>
    <a class="section-text__link" href="tournament/2022/">gå til tournament</a>
  </section>
</div>
