<div class="section-text">
  <h3 class="section-text__title">Tietgen Dye Tournament 2022</h3>
  <section class="section-text__body">
    <article class="section-text__article">
      <p>
        On the 10th of September we are bringing out the Tietgen Dye tables for a day full of games. We will have a double
        elimination tournament for everyone who wants to participate. Find a team partner, a team name, and head over to
        our signup form to secure your spot.
      </p>
      <p>
        We had a tournament last year with 64 teams and one glorious winner team. To check out everything around that
        tournament head over to its tournament page at <a href="/tournament/2021/">/tournament/2021/</a>
      </p>
    </article>
    <aside class="section-text__aside">
      <table>
        <tr>
          <td class="table__definition table__definition--bold">Date</td>
          <td class="table__definition">10/09/22</td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">Start time</td>
          <td class="table__definition">12 AM</td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">Participants</td>
          <td class="table__definition">64 teams</td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">Location</td>
          <td class="table__definition">Tietgenkollegiet</td>
        </tr>
        <tr>
          <td class="table__definition table__definition--bold">More info</td>
          <td class="table__definition"><a href="https://dyeislife.dk/tournament/2022/">click here</a></td>
        </tr>
      </table>
    </aside>
    <a class="section-text__link" href="tournament/2022/">go to tournament</a>
  </section>
</div>
