<form action="https://formsubmit.co/janschill@proton.me" method="POST">
  <input type="hidden" name="_next" value="https://dyeislife.dk/thanks">
  <fieldset id="fs-frm-inputs" class="field">
    <label class="label" for="full-name-first">Full name first person*</label>
    <div class="field">
      <input class="input" type="text" name="name" id="full-name-first" placeholder="Max Musterdye" required>
    </div>
    <label class="label" for="full-name-second">Full name second person*</label>
    <div class="field">
      <input class="input" type="text" name="name" id="full-name-second" placeholder="Erika Musterdye" required>
    </div>
    <label class="label" for="email-address">Email address*</label>
    <div class="field">
      <input class="input" type="email" name="email-address" id="email-address" placeholder="dyeup@dyeislife.dk"
        required>
    </div>
    <label class="label" for="team-name">Team name</label>
    <div class="field">
      <input class="input" type="text" name="team-name" id="team-name" placeholder="Submit and Dye">
    </div>
    <div class="field"><i>Fields marked with <strong>*</strong> are required.</i></div>
  </fieldset>
  <div class="field is-grouped">
    <div class="control">
      <input type="submit" class="button is-link" value="Submit">
    </div>
  </div>
</form>

</form>
