{{ with .Get "url" }}
{{ $url := . }}
{{ $data := getJSON $url }}
<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th><abbr title="Position">Pos</abbr></th>
        <th>Team</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Sinks</th>
        <th>Mines</th>
        <th>Player</th>
        <th>Player</th>
      </tr>
    </thead>
    <tbody>
      {{range $index, $team := sort $data.teams "wins" "desc" }}
      <tr>
        <th>{{ add $index 1 }}</th>
        <td>{{ $team.teamName }}</td>
        <td>{{ $team.wins }}</td>
        <td>{{ $team.losses }}</td>
        <td>{{ $team.sinks }}</td>
        <td>{{ $team.mines }}</td>
        <td>{{ index (sort $team.teamMembers) 0 }}</td>
        <td>{{ index (sort $team.teamMembers) 1 }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
