<header>
  <h2>Header</h2>
  <nav>
    <ul>
      <li><%= link_to "dyeislife.dk", root_path, class: "link" %></li>
      <li><%= link_to "Rules", rules_path, class: "link" %></li>
      <li><%= link_to "Tournaments", tournaments_path, class: "link" %></li>
    </ul>
  </nav>
</header>
