{{ $languageCode := printf "%s" .languageCode }}
<div class="card" id="shop-{{ .id }}">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="/{{ .context.imageURL }}"
        alt="DyeislifeDK {{ cond (eq $languageCode `en`) .context.name.en .context.name.da }}.">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      <h3 class="title is-4">{{ cond (eq $languageCode "en") .context.name.en .context.name.da }}</h3>
      <p>
        {{ cond (eq $languageCode "en") .context.description.en .context.description.da }}
      </p>
      <button data-target="shop-{{ .id }}"
        class="button is-info button-shop">{{ cond (eq $languageCode "en") "Buy now" "Køb nu" }}</button>
    </div>
  </div>
</div>
