<section class="hero is-info is-medium has-background">
  <img class="hero-background is-transparent" src="{{ .Site.BaseURL }}images/dyeislifedk-tietgenkollegiet.jpg" alt=""
    srcset="">
  <div class="hero-head">
    {{ partial "navbar" . }}
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        DyeislifeDK
      </h1>
      <h2 class="subtitle">
        Subtitle
      </h2>
    </div>
  </div>
</section>
