<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
  {{ template "_internal/opengraph.html" . }}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff0000">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <meta name="robots" content="index, follow">
  <meta name="google-site-verification" content="ygIu2JMZx0__QtPi7eID_QrzbpAT4Km37z5snCLS2K0" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/bulma.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/bulma-timeline.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css">
  <script async defer data-domain="dyeislife.dk" src="https://nsa.janschill.de/js/plausible.js"></script>
  <script src="{{ .Site.BaseURL }}js/navbar.js"></script>
  <script src="{{ .Site.BaseURL }}js/shop.js"></script>
</head>
