<nav class="navbar is-black">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item is-bright" href="/">
        <img loading=lazy src="{{ .Site.BaseURL }}logo/dyeislifedk-logo-simple.svg" alt="{{ .Site.Title }}.">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenuHeroA">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbarMenuHeroA" class="navbar-menu">
      <div class="navbar-end">
        {{ range .Site.RegularPages }}
        <a class="navbar-item is-bright" href="{{.Permalink}}">{{ .Title }}</a>
        {{ end }}
        <a class="navbar-item is-bright" href="/tournament/">{{ with .Site.GetPage "/tournament/" }}{{ .Title }}{{ end
          }}</a>

        {{ if .IsTranslated }}
        {{ range .Translations }}
        <a class="navbar-item" href="{{ .Permalink }}">{{ .Site.Params.Flag }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</nav>
